{# Main BLOCK #}

{% block main_content %}
    {# Left BLOCK #}
    {% block section_left %}
        <section class="column_left">
            {{ block('column_left') }}
        </section>
    {% endblock %}

    {# Right BLOCK #}
    {% block section_right %}
        <section class="column_right">
            {{ block('column_right') }}
        </section>
    {% endblock %}

    {# Content BLOCK #}
    {% block section_content %}
        <section class="content {% block double_columns_class %}double_columns{% endblock %} {% block content_class '' %}">
            {{ block('content') }}
        </section>
    {% endblock %}
{% endblock main_content %}