{# Main BLOCK #}

{% block main_content %}
    {# Left BLOCK #}
    {% block section_left %}
        <section class="column_left">
            {{ block('column_left') }}
        </section>
    {% endblock %}

    {# Content BLOCK #}
    {% block section_content %}
        <section class="content {% block with_left_class %} with_left {% endblock %} {% block content_class '' %}">
            {{ block('content') }}
        </section>
    {% endblock %}
{% endblock main_content %}