{# Main BLOCK #}
{% block main_content %}
    {# Content BLOCK #}
    {% block section_content %}
        <section class="content {% block content_class '' %}">
            {% block content '' %}
        </section>
    {% endblock %}
{% endblock main_content %}