{% trans_default_domain "NitraStoreBundle" %}

{% block quick_buy %}
    <div id="quick_buy_block" class="quick_buy_block">
        {% block quick_buy_content %}
            {% block quick_buy_close %}
                <a class="close" onclick="$('#quick_buy_block').hide();"></a>
            {% endblock quick_buy_close %}

            <div id="quick_buy_content" class="quick_buy_content">
                {% render(controller("NitraStoreBundle:Common/Common:counter", {'target': 'fast_order' })) %}
                {% block quick_buy_title %}
                    <div class="title">{{ 'quickbuy.title'|trans }}</div>
                {% endblock quick_buy_title %}

                {% block quick_buy_text %}
                    {% render controller("NitraTextBlockBundle:TextBlock/TextBlock:TextBlock", {'location':'quick_buy'}) %}
                {% endblock quick_buy_text %}

                {% block quick_buy_form %}
                    {{ form(form, {'action' : path("quick_order_page"), 'method': 'post', 'attr': {'id': 'quick_cart_info'} }) }}
                {% endblock quick_buy_form %}

                {% block quick_buy_script %}
                    {{ form_javascript(form) }}
                    <script type="text/javascript">
                        var $container = $('#quick_buy_block');
                        var $form      = $('#quick_cart_info');
                        var $loader    = $('#loader');
                        $form.submit(function() {
                            {% block js_submit_form_content %}
                                var loaderParams = {
                                    position: 'relative',
                                    width:    $loader.width(),
                                    left:     $container.width() / 2 + $loader.width() / 2,
                                    top:      $container.height() / 2 + $loader.height() / 2
                                };
                                $container.slideUp(100);
                                $loader.css(loaderParams).show();

                                {% block js_submit_form_ajax %}
                                    $.ajax({
                                        type:    "POST",
                                        url:     "{{ path ('quick_order_page') }}",
                                        data:    $form.serialize(),
                                        success: function(html) {
                                            {% block js_submit_form_success %}
                                                $('#cboxLoadedContent').html(html);
                                                $.colorbox.resize();
                                            {% endblock js_submit_form_success %}
                                        }
                                    });
                                {% endblock js_submit_form_ajax %}
                                return false;
                            {% endblock js_submit_form_content %}
                        });
                    </script>
                {% endblock quick_buy_script %}
            </div>
         {% endblock quick_buy_content %}
    </div>

    {% block quick_buy_loader %}
        <div class="loader" id="loader" style="display: none">
            {% image '@NitraStoreBundle/Resources/public/images/loading.gif' %}
            <img src="{{ asset_url }}" alt="loading" />
            {% endimage %}
        </div>
    {% endblock quick_buy_loader %}
{% endblock quick_buy %}