{% extends "::base.html.twig" %}

{% trans_default_domain "NitraStoreBundle" %}

{% block content_class 'home_page' %}

{% block content %}
    {% block home_content %}
        {# подборщик #}
        {% block selector %}
            {{ render_esi(controller('NitraProductBundle:Selector/Selection:selectorFull', {
                'redirect': (app.request.attributes.get('_route') == 'selector')
                    ? app.request.attributes.get('_route_params').category
                    : app.request.server.get('REQUEST_URI'),
                'type':     'tabs',
                'useSelect2': true,
                }))
            }}
        {% endblock selector %}

        {# Слайдшоу #}
        {% block slideshow %}
            {% render controller("NitraSlideshowBundle:Slideshow:slideshow", { 'pager': true }) %}
        {% endblock slideshow %}

        {# Список категорий на главной #}
        {% block category_list_home %}
            {% render controller("NitraProductBundle:Category/Category:categoryMenuHome") %}
        {% endblock category_list_home %}

        {# Товары с бейджами в табах #}
        {% block bage_products %}
            {% render controller("NitraProductBundle:Badge/Badge:badgeProductsBlock") %}
        {% endblock bage_products %}

        {# Модуль информационных категорий #}
        {% block info_categories %}
            {% render controller("NitraInformationBundle:Information/Information:informationCategoriesModule") %}
        {% endblock info_categories %}

        {# Баннера на главной #}
        {#{% render controller("NitraBannersBundle:BannersBlock/BannersBlock:BannersBlock", {
            'location': 'home',
            'size':     'baner_home',
        }) %}#}

        {# Карусель брендов #}
        {#{% render controller("NitraProductBundle:Brand/Brand:brands", {
            'orientation':  'horizontal',
            'visible':      3,
        }) %}#}

        {# Модуль акций #}
        {#{% render controller("NitraActionManagementBundle:ActionManagement:actionsModule") %}#}
    {% endblock home_content %}
{% endblock content %}