{% extends "NitraStoreBundle:Common:review.html.twig" %}

{% trans_default_domain "NitraStoreBundle" %}

{% block class %}ask_manager{% endblock class %}

{% block review_title %}<h1>{{ 'askManager.title'|trans }}</h1>{% endblock review_title %}

{% block review_text %}{% render (controller("NitraTextBlockBundle:TextBlock/TextBlock:TextBlock", {'location': 'ask_manager' })) %}{% endblock review_text%}

{% block path %}{{ path ('ask_manager', {'id': id })}}{% endblock path %}

{% block error_text %}{{ 'ask_manager.error'|trans|raw }}{% endblock %}