{% extends "NitraStoreBundle:Common:review.html.twig" %}

{% trans_default_domain "NitraStoreBundle" %}

{% block class %}notice_404{% endblock class %}

{% block review_title %}<h1>{{ 'notice404.title'|trans }}</h1>{% endblock review_title %}

{% block review_text %}{% render (controller("NitraTextBlockBundle:TextBlock/TextBlock:TextBlock", {'location': 'notice_404' })) %}{% endblock review_text %}

{% block path %}{{ path ('notice_404')}}{% endblock path %}

{% block error_text %}{{ 'notice_404.error'|trans|raw }}{% endblock %}

{% block jscript %}
    {{ parent() }}
    <script type="text/javascript">
        $('#notice_404_link').val(window.location.href);
    </script>
{% endblock jscript %}