{# default Sliding pagination control implementation #}
{% trans_default_domain "NitraStoreBundle" %}
{% if pageCount > 1 %}
    <div class="pagination">
        {% block pagination %}
            {% block pagination_first %}
                {% if first is defined and current != first %}
                        <a class="first" href="{{ path(route, query|merge({(pageParameterName): first}))|url_decode }}">{% trans %}first{% endtrans %}</a>
                {% endif %}
            {% endblock pagination_first %}
                        
            {% block pagination_previous %}
                {% if previous is defined %}
                        <a class="previous" href="{{ path(route, query|merge({(pageParameterName): previous}))|url_decode }}"></a>
                {% endif %}
            {% endblock pagination_previous %}        

            {% for page in pagesInRange %}
                {% if page != current %}
                        <a class="page" href="{{ path(route, query|merge({(pageParameterName): page}))|url_decode }}">{{ page }}</a>
                {% else %}
                    <span class="current">{{ page }}</span>
                {% endif %}
            {% endfor %}

            {% block pagination_next %}
                {% if next is defined %}
                        <a class="next" href="{{ path(route, query|merge({(pageParameterName): next}))|url_decode }}"></a>
                {% endif %}
            {% endblock pagination_next %}          

            {% block pagination_last %}
                {% if last is defined and current != last %}
                        <a class="last" href="{{ path(route, query|merge({(pageParameterName): last}))|url_decode }}">{% trans %}last{% endtrans %} ></a>
                {% endif %}
            {% endblock pagination_last %}          

        {% endblock pagination %}
    </div>                    
{% endif %}
