{% extends (app.request.isXmlHttpRequest or (pageBlockId is defined and pageBlockId) ? 'NitraStoreBundle::colorbox.html.twig' : '::base.html.twig') %}

{% trans_default_domain "NitraStoreBundle" %}

{% block content %}
    <div class="{% block class %}review{% endblock class %} send">
        {% block review %}
            {% block review_title %}
                {% if (pageBlockId is defined) and pageBlockId %}
                    {% block review_block_title %}<div class="title">{{ 'review.block_title'|trans|raw }}</div>{% endblock review_block_title %}
                {% else %}
                    {% block review_page_title %}<h1>{{ 'review.title'|trans|raw }}</h1>{% endblock review_page_title %}
                {% endif %}
            {% endblock review_title %}
            {% block review_content %}
               <div class="review_content">
                   <div class="review_text">
                       {% block review_text %}
                           {% render (controller("NitraTextBlockBundle:TextBlock/TextBlock:TextBlock", {'location': 'feedback' })) %}
                       {% endblock review_text %}
                   </div>

                   {% block review_result %}
                       <div class="review_form" id="result">
                           {% block review_form %}
                               {{ form(form, {'method': 'POST', 'action' : 'review', 'attr': {'id': 'send_form', 'name': 'send_form'} }) }}
                           {% endblock review_form %}
                       </div>
                   {% endblock review_result %}

                   {% block jscript %}
                       {% if app.request.isXmlHttpRequest or (pageBlockId is defined and pageBlockId) %}
                           {{ form_javascript(form) }}
                       {% endif %}
                       <script type="text/javascript">
                           setTimeout(function() {
                               $.colorbox.resize();
                           }, 300);
                           $('#send_form button').click(function() {
                               // Отсылаем параметры
                               $.ajax({
                                   type:       "POST",
                                   url:        "{% block path %}{{ path ('review') }}{% endblock path %}",
                                   data:       $('#send_form').serialize()+ "&pageBlockId=" + '{{ pageBlockId is defined and pageBlockId ? pageBlockId : "" }}',
                                   success:    function(html) {
                                       {% if(pageBlockId is defined and pageBlockId) %}
                                            $("#{{pageBlockId}}").html(html);
                                       {% elseif app.request.isXmlHttpRequest %}
                                           $("#cboxLoadedContent").html(html);
                                           $("#colorbox").colorbox.resize();
                                       {% else %}
                                            $(".content").html(html);
                                       {% endif %}
                                   },
                                   error:      function() {
                                       if ($('.not_send').length == 0) {
                                           $("#result").append('<div id="not_send" class="not_send errors">{% block error_text %}{{ 'review.error'|trans|raw }}{% endblock %}</div>');
                                       }
                                       {% if app.request.isXmlHttpRequest %}
                                            $("#colorbox").colorbox.resize();
                                       {% endif %}
                                   }
                               });

                               return false;
                           });
                       </script>
                   {% endblock jscript %}
               </div>
            {% endblock review_content %}
        {% endblock review %}
    </div>
{% endblock content %}