{% extends "NitraStoreBundle:EmailTemplates:sendOrderMailManager.html.twig" %}

{% trans_default_domain "NitraStoreBundle" %}

{% block table_content %}
    <tr>
        <td style="padding:10px; font-weight:bold" width="200">{{ subject }}</td>
        <td width="250">{{ name|raw }}</td>
    </tr>
    <tr>
        <td style="padding:10px; font-weight:bold">{{ 'sendMail.contact'|trans }}</td>
        <td>{{ phone|raw }}</td>
    </tr>
    <tr>
        <td style="padding:10px; font-weight:bold">{{ 'sendMail.badlink'|trans }}</td>
        <td>{{ link|raw }}</td>
    </tr>
    <tr>
        <td style="padding:10px; font-weight:bold">{{ 'sendMail.comment'|trans }}</td>
        <td>{{ comment|raw }}</td>
    </tr>
{% endblock table_content %}