{% trans_default_domain "NitraStoreBundle" %}

{% block success_container %}
    {% block counter %}
        {% if counter_target is defined %}
            {% render(controller("NitraStoreBundle:Common/Common:counter", {'target': counter_target})) %}
        {% endif %}
    {% endblock counter %}
    <div class="success send">
        {% block success %}
            <h1>{{ title|raw }}</h1>
            <div class="review_content">
                <div class="review_text">{{ text|raw }}</div>
            </div>
        {% endblock success %}
    </div>
{% endblock success_container %}