.selectbox {
	vertical-align: middle; cursor: pointer; z-index: 3 !important;
}
.selectbox .select {
        margin: 10px 0; width: 130px; background: #fff; color: #686868;
}

.selectbox .select .text {
	display: block; width: 100%; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
}
.selectbox .trigger .arrow {
	position: absolute; top:8px; right: 14px; display: inline-block; width: 14px; height: 14px; 
}
.selectbox .dropdown {
	top: 40px; width: 100%; margin: 0; background: #FFF; border-radius: 4px; box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}
.selectbox li {
        font-size: 1.15em;  color: #686868; padding: 8px 20px;
}
.selectbox li.selected {
	background: #49B5E6; color: #fff;
}
.selectbox li:hover {
        color: #686868; padding: 8px 20px 7px; border-bottom: 1px solid #D5CFC9; background: #FAF2E9;
}
.selectbox li.disabled {
	color: #AAA;
}
.selectbox li.disabled:hover {
	background: none;
}