{% extends app.request.isXmlHttpRequest ? "NitraStoreBundle::colorbox.html.twig" : "::base.html.twig" %}

{% trans_default_domain "NitraStoreBundle" %}

{% block javascript_head %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.order_check a.print').click(function(){
                window.print();
            });
        });
    </script>
{% endblock javascript_head %}

{% block content %}
    <div class="order_check">
        {% block text %}
            {{ ('check.' ~ (app.request.session.get('last_order_id') ? 'success' : 'failed'))|trans({'%orderId%': app.request.session.get('last_order_id')}) }}
        {% endblock text %}
        {% block date %}
            <span class='date'>
                {{- app.request.session.get('last_order_created_date')|localizeddate('long', 'short', app.request.locale) -}}
            </span>
        {% endblock date %}
        {% block payments %}
            {#% render controller("NitraStoreBundle:Payments/LiqPay:form") %#}
        {% endblock payments %}
        {% block print %}
            <a class="print">
                {{- 'check.print'|trans -}}
            </a>
        {% endblock print %}
        {% block product_list %}
            {% render controller("NitraStoreBundle:Checkout/Checkout:getProductList", {'check': true}) %}
        {% endblock product_list %}
    </div>
{% endblock content %}