{% trans_default_domain "NitraStoreBundle" %}

{% block cart_products %}
    <div class="cart_products">
        {% block cart_product_list %}
            <div class="cart_product_list">
                {% block cart_product_list_content %}
                    {# специальные предложения #}
                    {% if products is not empty and sets_products is not empty %}
                        {% block sets_title %}
                            <div class="title">{{ 'specialOffers'|trans }}</div>
                        {% endblock sets_title %}
                    {% endif %}

                    {% block cart_product_list_sets %}
                        {% for set in sets_products %}
                            {% block cart_product_list_set %}
                                {# главный товар специальных предложений #}
                                {{ include('NitraStoreBundle:Modules:checkoutProductListBlock.html.twig', {'item': set['main_product'], 'type': 'set_main_product', 'check': check}) }}

                                {% block cart_product_list_set_entries %}
                                    {% for set_product in set['entries'] %}
                                        {% block cart_product_list_set_entry %}
                                            {# товары специальных предложений #}
                                            {{ include('NitraStoreBundle:Modules:checkoutProductListBlock.html.twig', {'item': set_product, 'type': 'set_product', 'check': check}) }}
                                        {% endblock cart_product_list_set_entry %}
                                    {% endfor %}
                                {% endblock cart_product_list_set_entries %}
                            {% endblock cart_product_list_set %}
                        {% endfor %}
                    {% endblock cart_product_list_sets %}

                    {# товары #}
                    {% block cart_product_list_products_title %}
                        {% if products is not empty and sets_products is not empty %}
                            {% block product_title %}
                                <div class="title">{{ 'product.plural'|trans }}</div>
                            {% endblock product_title %}
                        {% endif %}
                    {% endblock cart_product_list_products_title %}
                    {% block cart_product_list_products %}
                        {% for product in products %}
                            {% block cart_product_list_product %}
                                {{ include('NitraStoreBundle:Modules:checkoutProductListBlock.html.twig', {'item': product, 'type': 'product', 'check': check}) }}
                            {% endblock cart_product_list_product %}
                        {% endfor %}
                    {% endblock cart_product_list_products %}
                {% endblock cart_product_list_content %}
            </div>
            {% if products is empty and sets_products is empty %}
                {% block checkout_products_empty %}<div class="checkout_empty">{{ 'cart.empty'|trans }}</div>{% endblock checkout_products_empty %}
            {% endif %}

            <div class="summ">
                {% block checkout_products_summ %}
                    {% block products_count %}
                        <div class="count"><span class="text">{{ 'product.genitive'|trans }}&nbsp;</span><span class="value">{{ total_quantity }}&nbsp;{{ 'pcs'|trans }}</span></div>
                    {% endblock products_count %}
                    {% block products_summ %}
                        <div class="total_summ"><span class="text">{{ 'inSum'|trans }}&nbsp;</span><span class="value">{{ total_price|price }}</span></div>
                    {% endblock products_summ %}
                {% endblock checkout_products_summ %}
            </div>
            {% block checkout_products_script %}
                {% if not check %}
                    <script type="text/javascript">
                        $('.quantity_button').click(function(){
                            var pos = $('.cart_product_list').scrollTop();
                            $.ajax({
                                type:       "POST",
                                url:        "{{ path ('checkout_change_quantity') }}",
                                data:       {
                                    quantity:   $(this).attr('data-quantity'),
                                    product_id: $(this).attr('data-prod'),
                                    set_id:     $(this).attr('data-set')
                                },
                                success:    function(html) {
                                    $(".cart_products").replaceWith(html);
                                    updateHeaderCart();
                                    $('.cart_product_list').scrollTop(pos);
                                    $.colorbox.resize();
                                }
                            });
                        });
                    </script>
                {% endif %}
            {% endblock checkout_products_script %}
        {% endblock cart_product_list %}
    </div>
{% endblock cart_products %}