{% extends (app.request.isXmlHttpRequest ? 'NitraStoreBundle::colorbox.html.twig' : '::base.html.twig') %}
    
{% trans_default_domain "NitraStoreBundle" %}

{% block content %}
    {% block select2 %}
        {% block javascripts_head %}
            {% javascripts
                'bundles/nitrastore/js/select2.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock javascripts_head %}
                
        {% render(controller("NitraStoreBundle:Common/Common:counter", {'target': 'cart' })) %}
        {{ form_javascript(form) }}
    {% endblock select2 %}

    <div class="colorbox_content cart">
        {% block cbox_cart %}
            {% block cart_title %}
                <h1>{{ 'order.process'|trans|raw }}</h1>
            {% endblock cart_title %}

            {% block cart_products %}
                {% render controller("NitraStoreBundle:Checkout/Checkout:getProductList") %}
            {% endblock cart_products %}   

            {% block cart_info_form %}
                <div class="cart_info form">
                    {% block cart_form %}
                        {{ form(form, {'action': path("order_page"), 'method': 'POST', 'attr': {'id': 'cart_info'} }) }}
                    {% endblock cart_form %}
                </div>
            {% endblock cart_info_form %}

            {% block cart_loader %}
                <div class="loader" id="loader" style="display: none">
                    {% image '@NitraStoreBundle/Resources/public/images/loading.gif' %}
                        <img src="{{ asset_url }}" alt="loading" />
                    {% endimage %}
                </div>
            {% endblock cart_loader %}

            {% block cart_cancel %}
                <a class="cancel" onclick="{{ app.request.isXmlHttpRequest ? '$.colorbox.close()' : 'history.go(-1);' }}"><span>{{ 'cart.cancel'|trans|raw }}</span></a>
            {% endblock cart_cancel %}    

            {% block cart_button %}
                <a class="submit_button" title="{{ 'order.do'|trans|striptags }}" onclick="$('#cart_info').submit(); return false;"><span>{{ 'order.do'|trans|raw }}</span></a>
            {% endblock cart_button %}

            {% block cart_text %}
                {% set cart_text = render(controller("NitraTextBlockBundle:TextBlock/TextBlock:TextBlock", {'location': 'cart' })) %}
                   {% if cart_text is not empty %}
                        <div class="cart_text">{{ cart_text|raw }}</div>
                   {% endif %}
            {% endblock cart_text %}

            {% block cart_script %}
                <script type="text/javascript">
                    {% block cart_script_fn_update_cart %}
                        function updateCart() {
                            $.ajax({
                                type: "POST",
                                url: "{{ path ('checkout_product_list') }}",
                                success: function(html) {
                                    $(".cart_products").html(html);
                                }
                            });
                        }
                    {% endblock cart_script_fn_update_cart %}

                    {% block cart_script_fn_submit_form %}
                        $('#cart_info').submit(function(){
                            {% block cart_script_fn_submit_form_content %}
                                $('#loader').show();
                                $.ajax({
                                    type:       "POST",
                                    url:        "{{ path ('order_page') }}",
                                    data:       $('#cart_info').serialize() + "{{ (not app.request.isXmlHttpRequest) ? '&ajax=true' }}",
                                    success:    function(html) {
                                        {% block cart_script_fn_submit_form_content_success %}
                                            $("{{ app.request.isXmlHttpRequest ? "#cboxLoadedContent" : '.content' }}").html(html);
                                            {{ app.request.isXmlHttpRequest ? "$.colorbox.resize();" }}
                                        {% endblock cart_script_fn_submit_form_content_success %}
                                    }
                                });
                                return false;
                            {% endblock cart_script_fn_submit_form_content %}
                        });
                    {% endblock cart_script_fn_submit_form %}

                    {% block cart_script_calls %}
                        updateHeaderCart();
                    {% endblock cart_script_calls %}
                </script>
            {% endblock cart_script %}
        {% endblock cbox_cart %}
    </div>
{% endblock content %}