{# --- Form BLOCKS --- #}

{# Form #}
{% block form_widget_compound %}
{% spaceless %}
    {% if form.parent is empty %}
        {{ form_errors(form) }}
    {% endif %}
    {{ block('form_rows') }}
    {{ form_rest(form) }}
{% endspaceless %}
{% endblock form_widget_compound %}

{# Form ROWS #}
{% block form_row %}
{% spaceless %}
    <div class="form_row {{ name }}">
        {{ form_label(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        {{ block('form_help') }}
    </div>
{% endspaceless %}
{% endblock form_row %}

{# help #}
{% block form_help %}
{% spaceless %}
    {% set help_text = help|trans({}, translation_domain) %}
    {% if help and help_text is not empty %}
        <span class="help">{{ help_text }}</span>
    {% endif %}
{% endspaceless %}
{% endblock form_help %}

{# button row #}
{% block button_row %}
{% spaceless %}
    <div class="action">
        {{ form_widget(form) }}
    </div>
{% endspaceless %}
{% endblock button_row %}

{# Form Widgets #}
{% block button_widget %}
{% spaceless %}
    {% if label is empty %}
        {% set label = name|humanize %}
    {% endif %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}><span>{{ label|trans({}, translation_domain) }}</span></button>
{% endspaceless %}
{% endblock button_widget %}

{# form LABEL #}
{% block form_label %}
{% spaceless %}
    {% if label is not sameas(false) %}
        {% if not compound %}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {% endif %}
        {% if label is empty %}
            {% set label = name|humanize %}
        {% endif %}
        {% if required %}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain)|raw }}<span>*</span></label>
        {% else %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain)|raw }}</label>
        {% endif %}
    {% endif %}
{% endspaceless %}
{% endblock form_label %}

{# errors #}
{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul class="errors">
        {% for error in errors %}
            <li>{{ error.message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{# переопределение формы select2 для корректного вывода функций (не в кавычках) #}
{% block genemu_jqueryselect2_choice_javascript %}
    <script type="text/javascript">
        $(document).ready(function($) {
            var field = $('#{{ id }}');
            var configs = {{ configs|json_encode|raw }};
            var new_configs = {};
            {% for key, value in configs %}
                {% if 'function' in value %}
                    new_configs["{{ key }}"] = {{ value|raw }};
                {% else %}
                    new_configs["{{ key }}"] = {{ value|json_encode|raw }};
                {% endif %}
            {% endfor %}
            field.select2(new_configs);
        });
    </script>
{% endblock %}

{% block choice_widget_expanded %}
{% spaceless %}
    <div {{ block('widget_container_attributes') }}>
    {% for child in form %}
        <div class="choice_item">
            {{ form_widget(child) }}
            {{ form_label(child) }}
        </div>
    {% endfor %}
    </div>
{% endspaceless %}
{% endblock choice_widget_expanded %}


{% block select_delivery_warehouse_widget %}
    {% block select_delivery_tk %}
        <select id="{{ widget_id_delivery }}">
            <option value=""></option>
            {% for delivery in deliveries %}
                <option value="{{ delivery.id }}" >{{ delivery.name }}</option>
            {% endfor %}
        </select>
    {% endblock select_delivery_tk %}

    {% block select_delivery_warehouse %}
        <div class="warehouse">
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ 'cart.delivery_warehouse.warehouse'|trans({}, translation_domain)|raw }}</label>
            {{ form_widget(form, { 'attr': {'class': 'select_delivery_warehouse_' ~ name } }) }}
        </div>
    {% endblock select_delivery_warehouse %}
    <script>
        /**
         * массив складов поставщиков
         * @var array warehouses [key] = array( 0='id', 1='deliveryId', 2='cityId', 3='Адресс' )
         **/
        var warehouses_{{ widget_id_warehouse }} = new Array();
        {% for warehouse in warehouses %}
            warehouses_{{ widget_id_warehouse }}[{{ loop.index0 }}] = new Array({{ warehouse.id }}, '{{ warehouse.deliveryId }}', '{{ warehouse.cityId }}', '{{ warehouse.address }}');
        {% endfor %}

        /**
         * Получить клад по ID
         * @return array - найденый склад
         * @return false - склад не найден
         **/
        function getWarehouse_{{ widget_id_warehouse }}(warehouseId) {
            // не указан ID склада
            if (typeof(warehouseId) == 'undefined') {
                return false;
            }
            // найденый склад
            var foundedWarehouse = false;

            // обойти все склады
            $.each(warehouses_{{ widget_id_warehouse }}, function(i, warehouse) {
                // проверить ID выбранного склада
                if (warehouseId == warehouse[0]) {
                    foundedWarehouse = warehouse;
                    return false;
                }
            });

            // вернуть найденый склад
            return foundedWarehouse;
        }

        /**
         * изменение поставщика
         * обновление списка городов
         * @param integer deliveryId  - ID выбранного поставщика
         * @param integer warehouseId - ID выбранного склада
         **/
        function changeDelivery_{{ widget_id_delivery }}(deliveryId, warehouseId) {
            // получить ID города
            var cityId = $('#{{ widget_id_city }}').val();

            // удалить все элементы виджета
            $('#{{ widget_id_warehouse }}').children().remove();

            // если выбран город отображить склады данного города
            if (deliveryId) {
                // наполнить список складов
                $.each(warehouses_{{ widget_id_warehouse }}, function(i, warehouse) {
                    // наполнить список складами в выбранном городе
                    if (deliveryId == warehouse[1] && cityId == warehouse[2]) {
                        $('#{{ widget_id_warehouse }}').append( $('<option value="'+warehouse[0]+'">'+warehouse[3]+'</option>') );
                    }
                });
            }

            // выбрать элемент списка склад

            if (warehouseId) {
                $('#{{ widget_id_warehouse }} option[value="'+warehouseId+'"]').attr('selected', 'selected');
            } else {
                $('#{{ widget_id_warehouse }} option:first-child').attr('selected', 'selected').trigger('change');
            }
        }

        // получить выбранный ID города
        var deliveryId_{{ widget_id_delivery }} = false;

        // получить выбранный ID склада
        var warehouseId_{{ widget_id_warehouse }} = $('#{{ widget_id_warehouse }} option:selected').val();

        // получить выбранного поставщика
        // если выбран склад
        if (warehouseId_{{ widget_id_warehouse }}) {
            // обойти все склады
            $.each(warehouses_{{ widget_id_warehouse }}, function(i, warehouse) {
                // проверить ID выбранного склада
                if (warehouseId_{{ widget_id_warehouse }} == warehouse[0]) {
                    deliveryId_{{ widget_id_delivery }} = warehouse[1];
                    return false;
                }
            });

            // получить склад
            var warehouse = getWarehouse_{{ widget_id_warehouse }}(warehouseId_{{ widget_id_warehouse }});
            if (warehouse.length > 0) {
                $('#s2id_{{ widget_id_warehouse }}').find('.select2-chosen').html(warehouse[3]);
            }
        }

        // выбрать элемент списка ТК
        if (deliveryId_{{ widget_id_delivery }}) {
            $('#{{ widget_id_delivery }} option[value="'+deliveryId_{{ widget_id_delivery }}+'"]').attr('selected', 'selected');
        }

        // выбрать элемент списка склад
        if (warehouseId_{{ widget_id_warehouse }}) {
            $('#{{ widget_id_warehouse }} option[value="'+warehouseId_{{ widget_id_warehouse }}+'"]').attr('selected', 'selected');
        }

        // отобразить склады для поставщика
        // выбрать склад
        changeDelivery_{{ widget_id_delivery }}(deliveryId_{{ widget_id_delivery }}, warehouseId_{{ widget_id_warehouse }});
        $('#{{ widget_id_delivery }}').change(function(){
            $('#s2id_{{ widget_id_warehouse }}').find('.select2-chosen').html('');
            $('#{{ widget_id_warehouse }}').removeAttr('selected');
            changeDelivery_{{ widget_id_delivery }}($(this).val(), warehouseId_{{ widget_id_warehouse }});
        });

        // при изменении города убираем ТК и убираем склад
        $('#{{ widget_id_city }}').change(function(){
            // убрать выбор ТК
            $('#s2id_{{ widget_id_delivery }}').find('.select2-chosen').html('');
            $('#{{ widget_id_delivery }}').removeAttr('selected');
            $('#{{ widget_id_delivery }} option[value=""]').attr('selected', 'selected');
            // убрать выбор склада
            $('#s2id_{{ widget_id_warehouse }}').find('.select2-chosen').html('');
            $('#{{ widget_id_warehouse }}').removeAttr('selected');
            $('#{{ widget_id_warehouse }} option[value=""]').attr('selected', 'selected');
            $('#{{ widget_id_warehouse }}').children().remove();
        });

        // select2 для виджета ТК
        $('#{{ widget_id_delivery }}').select2({
            placeholder: ''
        });

        // select2 для виджета склад
        $('#{{ widget_id_warehouse }}').select2({
            placeholder: ''
        });
    </script>
{% endblock %}