{% block masked_input_javascript %}
    {% javascripts '@NitraStoreBundle/Resources/public/js/jquery.maskedinput.min.js' %}
        <script type="text/javascript">
            $.getScript('{{ asset_url }}', function() {
                {% for key, value in definitions %}
                    $.mask.definitions['{{ key }}'] = '{{ value|raw }}';
                {% endfor %}
                var newConfigs = {};
                {% for key, value in parameters %}
                    {% if 'function' in value %}
                        newConfigs["{{ key }}"] = {{ value|raw }};
                    {% else %}
                        newConfigs["{{ key }}"] = {{ value|json_encode|raw }};
                    {% endif %}
                {% endfor %}
                $('#{{ form.vars.id }}').mask("{{ form.vars.mask }}", newConfigs);
            });
        </script>
    {% endjavascripts %}
{% endblock masked_input_javascript %}